<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/location-pkg/region/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title">{{$ctrl.action}} State</h1>
                    <p class="subtitle">
                        Masters /
                        <a href="#!/location-pkg/state/list">
                            States
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Content Wrap -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.state.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills editDetails-tabs">
                                    <li class="active"><a data-target="#general-info" role="tab" data-toggle="tab" aria-expanded="true">General Information</a></li>
                                    <li ng-if="$ctrl.region_permission"><a data-target="#regions" role="tab" data-toggle="tab" aria-expanded="true">Regions</a></li>
                                    <li ng-if="$ctrl.city_permission"><a data-target="#city" role="tab" data-toggle="tab" aria-expanded="true">Cities</a></li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-info" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <ul class="grid-row">
                                            <li class="grid-col-3">
                                                <span class="grid-col-label">State Name</span>
                                                <span class="grid-col-value">{{$ctrl.state.name}}</span>
                                            </li>
                                            <li class="grid-col-3">
                                                <span class="grid-col-label">State Code</span>
                                                <span class="grid-col-value">{{$ctrl.state.code}}</span>
                                            </li>
                                            <li class="grid-col-3">
                                                <span class="grid-col-label">Country</span>
                                                <span class="grid-col-value">{{$ctrl.state.country.name}}</span>
                                            </li>
                                            <li class="grid-col-3">
                                                <span class="grid-col-label">Active Status</span>
                                                <span class="grid-col-value {{$ctrl.country.deleted_at ==NULL ? 'color-green' : 'color-red'}}">{{$ctrl.state.deleted_at ? 'Inactive' : 'Active'}}</span>
                                            </li>
                                        </ul>
                                        <div class=" tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-nxt my-tooltip" ng-shortcut="'meta+shift+down'" ng-shortcut-click data-title="ctrl+shift+down">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tab Pane -->
                            <div class="tab-pane fade" id="regions" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th>Region Name</th>
                                                            <th>Region Code</th>
                                                            <th>Active Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, region) in $ctrl.regions">
                                                            <td>
                                                                <span class="info">{{region.name}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="info">{{region.code}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="info  {{state.deleted_at ==NULL ? 'text-green' : 'text-red'}}">{{region.deleted_at ? 'Inactive' : 'Active'}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="$ctrl.regions.length == 0">
                                                            <td colspan="3" style="text-align: center;">
                                                                <span class="info">No data available in table</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class=" tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-nxt my-tooltip" ng-shortcut="'meta+shift+down'" ng-shortcut-click data-title="ctrl+shift+down">
                                                        Next
                                                    </a>
                                                    <a class="btn btn-secondary btn-prev my-tooltip" ng-shortcut="'meta+shift+up'" ng-shortcut-click data-title="ctrl+shift+up">Previous</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tab Pane -->
                            <div class="tab-pane fade" id="city" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th>City Name</th>
                                                            <th>Active Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index, city) in $ctrl.cities">
                                                            <td>
                                                                <span class="info">{{city.name}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="info  {{state.deleted_at ==NULL ? 'text-green' : 'text-red'}}">{{city.deleted_at ? 'Inactive' : 'Active'}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="$ctrl.cities.length == 0">
                                                            <td colspan="2" style="text-align: center;">
                                                                <span class="info">No data available in table</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev my-tooltip" ng-shortcut="'meta+shift+up'" ng-shortcut-click data-title="ctrl+shift+up">Previous</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->